.taskscontainer{
    width: 23rem;
    height: auto;
    display: flex;
    flex-direction: column;
   

}
.sec-1{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(254, 252, 252);
    border-top: 1px solid rgb(234, 227, 227);
    border-top-left-radius: 0.2rem;
    border-bottom: 1px solid rgb(237,247,252);

    
}
.tasks{
    width: 90%;
    border-left: 1px solid rgb(234, 227, 227);
    border-bottom-left-radius: 0.2rem;
    
    padding: 0.5rem 0 0.5rem 0.6rem;
   
font-family: inherit;
font-weight: 600;
    text-align: left;
}
.sec-1 button{
    margin: 0;
    width: 10%;
    border-right: 0;
    border: none;
    border-right: 1px solid rgb(234, 227, 227);
    border-top-right-radius: 0.2rem;
    background-color: rgb(254, 252, 252) !important;
    border-left: 1px solid rgb(234, 227, 227);
    cursor: pointer;

}
.sec-1 button svg{
    font-size: 1.1rem;
}
.task{
    width: 100%;
    display: flex;
    
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0.2rem;
    border: none;
    border-bottom: 1px solid rgb(234, 227, 227);
    padding: 0.7rem 0;
}
.task-info h5{
    margin: 0;
}
.task-info h6{
    margin: 0;
}
.task .profile{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.1rem;
    width: 3rem;
}
.task-info{
    width: auto;
    margin-left: 0;
    text-align: left;
    height: 100%;
}
.task-info h6{
    margin-left: 0.1rem;
    margin-top: 0.2rem;
}
.icons{
    margin-left: auto;
    margin-right: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.icons svg{
    cursor: pointer;
}
.profile svg{
    font-size: 1.4rem;
   
}