.task-form{
    width: 23rem;
    height: auto;
    display: flex;
    flex-direction: column;
   font-family: inherit;
   font-weight: 600;

    
}


.sec-2{
    width: 100%;
    height: auto;
    opacity: 1;
    padding: 1.2rem 0;
    background-color:rgb(237,247,252);


    position: relative;
    animation: slide 0.5s ease-in-out;
    z-index: 1;

}

.input-div{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
    position: relative;

}
.input-div svg{
    position: absolute;
    right: 1rem;
    top: 2.4rem;
    color: gray;
}
.input-div label{
    font-weight: 600;
}
.input-div input{
    width: 95%;
    border-radius: 0.2rem;
    padding: 0.4rem;
    outline: none;
    margin-top: 0.3rem;
    border: 1px solid rgb(240, 234, 234);
    font-family: inherit;
    font-weight: 600;
}
.input-div input::placeholder{
    font-family: inherit;
    font-weight: 500;
}
.input-div select{
    width: 100%;
    padding: 0.3rem;
    border: 1px solid rgb(254, 252, 252);
    border-radius: 0.2rem;
    margin-top: 0.2rem;
    padding-left: 1rem;
    font-family: inherit;
    font-weight: 600;
}
.date-time{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.date-time .input-div{
    width: 50%;
}
.date-time .input-div input{
    width: 65% !important;
}
.date-time .input-div svg{
    top: 2.5rem;
    left: 0.7rem;
}
.date-time .input-div input{
    padding-left: 1.8rem;
}
.date-time .input-div input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0.7rem;
}
.svg-div{
    position: absolute;
    right: 0.2rem;
    top: 2.2rem;
    height: 1.5rem;
    width: 2rem;
    display: flex;
    flex-direction: column;
}
.svg-div svg{
    position: static;
    font-size: 20px;
}
.buttons-div{
    width: 10rem;
    display: flex;
   margin-left: auto;
   margin-right: 0.8rem;
  
    
    
}
.buttons-div button{
    width: 5rem;
    padding: 0.3rem;
    margin-left: 0.5rem;
    font-family: inherit;
    background-color: rgb(237,247,252);
    border-radius: 0.3rem;
   cursor: pointer;
}
.buttons-div button:nth-child(1){
  background-color: rgb(237,247,252) !important;
  border: none;
  font-weight: 600;
}
.buttons-div button:nth-child(2){
    background-color: rgb(71,187,127) !important;
    color: #fff;
    border: none;
  
}
.error-msg{
    display: none;
    font-size: 12px;
    color: red;
    margin: 0;
}
.error-msg h5{
    margin: 0;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
   
}
.error input{
    border: 1px solid red;
}
.error .error-msg{
    display: block;
 
   
}
.error-div{
    width: 10rem;
    position: absolute;
    bottom: 0.1rem;
    left: 2rem;

}
.error-div span h4{
    margin: 0;
    margin-left: 0.2rem;
    margin-bottom: 0.1rem;
    font-size: 15px !important;
    font-family: inherit !important;
    color: red;

}

.delete-button{
    position: absolute;
    left: 0.5rem;
    bottom: 1rem;
    border: none;
    background-color: rgb(237,247,252);
    cursor: pointer;
}
.delete-button svg{
    font-size: 1.1rem;
}
.delete-modal{
    width: 28rem;
    height: 20rem;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.delete-modal .delete-buttons{
    display: flex;
    align-items: center;
    width: 15rem;
    justify-content: space-around;
}
.delete-buttons button{
    background-color: rgb(162, 152, 152);
    border: none;
    border-radius: 0.3rem;
    width: 6rem;
    padding: 0.4rem;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
}

/* .date-error input{
    border: 1px solid red;
}
.date-error .error-msg{
    display: block;
}

.time-error .error-msg{
    display: block; */
/* } */
@keyframes slide {
    from{
        transform: translateY(-30px);
     
        z-index: -100;
        
       
    }
    to{
transform: translateY(0);
z-index: 1;

      
    }
}