.task-form{
    width: 23rem;
    height: auto;
    display: flex;
    flex-direction: column;
   font-family: inherit;
   font-weight: 600;
    
}
.sec-1{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(254, 252, 252);
    border-top: 1px solid rgb(234, 227, 227);
    border-top-left-radius: 0.2rem;
}
.tasks{
    width: 90%;
    border-left: 1px solid rgb(234, 227, 227);
    border-bottom-left-radius: 0.2rem;
    
    padding: 0.2rem;
    padding-left: 0.6rem;
    padding-right: 0;

    text-align: left;
}
.task-form button{
    margin: 0;
    width: 10%;
    border-right: 0;
    border: none;
    border-right: 1px solid rgb(234, 227, 227);
    border-top-right-radius: 0.2rem;
    background-color: rgb(254, 252, 252) !important;
    border-left: 1px solid rgb(234, 227, 227);
    cursor: pointer;

}
.task-form button svg{
    font-size: 1.1rem;
}
.sec-2{
    width: 100%;
    height: auto;
    padding-top: 1rem;
    display: none;
}
.sec-2.active{
    display: block;
}
.input-div{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
    position: relative;

}
.input-div svg{
    position: absolute;
    right: 0;
    top: 2.4rem;
    color: gray;
}
.input-div label{
    font-weight: 600;
}
.input-div input{
    width: 100%;
    border-radius: 0.2rem;
    padding: 0.4rem;
    outline: none;
    margin-top: 0.3rem;
    border: 1px solid rgb(240, 234, 234);
}
.input-div input::placeholder{
    font-family: inherit;
    font-weight: 500;
}
.date-time{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.date-time .input-div{
    width: 50%;
}
.date-time .input-div input{
    width: 85%;
}
.date-time .input-div svg{
    left: 0.7rem;
}
.date-time .input-div input{
    padding-left: 1.3rem;
}
.svg-div{
    position: absolute;
    right: 0.2rem;
    top: 2.2rem;
    height: 1.5rem;
    width: 2rem;
    display: flex;
    flex-direction: column;
}
.svg-div svg{
    position: static;
    font-size: 20px;
}
.buttons-div{
    width: 10rem;
    display: flex;
   margin-left: auto;
   margin-right: 0.8rem;
  
    
    
}
.buttons-div button{
    width: 5rem;
    padding: 0.3rem;
    margin-left: 0.5rem;
    font-family: inherit;
    background-color: rgb(237,247,252);
    border-radius: 0.3rem;
   
}
.buttons-div button:nth-child(1){
  background-color: rgb(237,247,252) !important;
  border: none;
  font-weight: 600;
}
.buttons-div button:nth-child(2){
    background-color: rgb(71,187,127) !important;
    color: #fff;
  
}